# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
protoc-gen-graphql

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE prefereces
.vscode/
.idea/
.DS_Store
protoc-gen-jaal
protoc-gen-jaal.zip
